

.slider{
  @include clearfix;
  .slide{
    @include clearfix;
    // @include span-columns(10);
    border: 1px solid #ccc;
    padding: 10px;
    display:none;
    margin: 0px auto;
    width: 80%;
  }

  .active{
      display: block;
      position: relative;
    }

  .quote{
    // @include span-columns(6);
    width: 50%;
    float: left;
  }

  .quote-no-img{
    // @include span-columns(10);
    margin-left: 3em;
  }

  .blurb{
    margin: 0 0 0 1em;
  }

  .quote-img{
    // @include span-columns(6);
    float: right;
    width: 50%;
  }
}

.slide-btn{
  position: absolute;
  cursor: pointer;
  top: 50%;
  // padding: 10px;
  font-size: 30px;
  transition: all 0.2s linear;
  color: black;
}

.next{
  right: -0px;
}
.prev{
  left: -0px;
  z-index: 1001;
}

.related-story{
  color: $text-gray;
  font-family: $base-sans-serif;
  font-size: .85em;
  font-weight: 400;
  margin: .25em 0;
}

.story-url{
  font-weight: 800;
  color: $href-teal;
}

.view-all{
  // @include span-columns(2);
  cursor: pointer;
  border: 1px solid #ccc;
  :hover{
    background-color: #aaa;
  }
}

.hidden{
  display: none;
}
