.slider{
  position: relative;
  width: 80%;
  margin: 0px auto;
}

.slide-btn{
  position: absolute;
  cursor: pointer;
  top: 45%;
  padding: 10px;
  font-size: 30px;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #666;
}

.next{
  right: -60px;
}
.prev{
  left: -60px;
}

.slide{
  border: 1px solid red;
  display: inline-block;
  .hidden{
    display: none;
  }
}

.quote{
  width: 50%;
}

.blurb{
  margin: 0 0 0 1em;
}

.quote-img{
  width: 40%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.read-more{

}

.article{

}
