.graphic{
  @include outer-container();
}

.counter{
  font-weight: 600;
  text-align: center;
  font-style: italic;
  font-size: .8em;
}

.slideshow{
  @include row();
  position: relative;
  margin-bottom: 10px;
}

.slider{
  .slide{
    @include span-columns(10);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display:none;
    width: 80%;
  }

  .active{
      display: block;
    }

  .quote{
    @include span-columns(12);
    .speaker{
      color: $bodytext-black;
      font-family: $base-sans-serif;
      font-weight: 800;
      line-height: 1.2;
      text-align: left;
      margin: .2em 0em 1em 3em;
    }
  }
}

.blurb-box{
  @include span-columns(12);
  margin: .7em .8em;
}

$blurb-bp: new-breakpoint(min-width 550px);

.blurb{
  @include span-columns(12);
  @include omega();
  border-top: 1px solid #ccc;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
  margin-top: 0px;
  @include media($blurb-bp){
    @include span-columns(7);
  }
}

.quote-img{
  @include span-columns(12);
  vertical-align: middle;
  margin-right: .5em;
  @include media($blurb-bp){
    @include span-columns(4);
  }
  img{
    width: 100%;
  }
}

.img-credit{
  font-family: $base-sans-serif;
  font-weight: 300;
  margin: 1em .5em;
  font-size: .7em;
  p{
    margin: 0px;
  }
}

.quote-no-img{
  @include span-columns(12);
  .blurb-box{
    margin: .7em .5em;
    .blurb{
      @include span-columns(12);
    }
  }
  .related-content{
    @include span-columns(12);
  }
}

.slide-btn{
  @include span-columns(1);
  cursor: pointer;
  text-align: center;
  // padding: 10px;
  font-size: 30px;
  transition: all 0.2s linear;
  color: black;
  a{
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
  }
  .next{
    @include omega();
  }

  .prev{
  }

  .btn-container{
    // position:absolute;
    top: 50%;
  }
}

.related-content{
  @include span-columns(12);
  margin: 0 .5em;
  .related-story{
    color: $text-gray;
    font-family: $base-sans-serif;
    font-size: .90em;
    font-weight: 400;
    margin: .25em 0 0 0;
    font-variant: small-caps;
  }
  p{
    margin: .6em 0;
  }
}

.story-url{
  font-weight: 800;
  color: $href-teal;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.share-box{
  @include span-columns(12);
  text-align: center;
  .social{
    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 2px;
    padding: 3px;
    width: 3em;
    &:hover{
      background-color: #ddd;
    }
  }
  p{
    margin: .5em;
  }
  a{
  text-decoration: none;
  color: #3b5998;
  &:hover{
    text-decoration: underline;
  }
}
}

.hidden{
  display: none;
}
