.slider{
  position: relative;
  margin: 0px auto;
  .slide{
    @include span-columns(10);
    border: 1px solid #ccc;
    padding: 10px;
    .hidden{
      display: none;
    }
  }

  .quote{
    @include span-columns(6);
  }

  .blurb{
    margin: 0 0 0 1em;
  }

  .quote-img{
    @include span-columns(4);
    height: 20px;
    border: 1px solid black;
  }
}

.slide-btn{
  @include span-columns(1);
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: black;
}

.read-more{

}

.article{

}
