.slider{
  // position: relative;
  // margin: 0px auto;
  // @include outer-container;
  .slide{
    @include span-columns(10);
    border: 1px solid #ccc;
    padding: 10px;
    display:none;
  }

  .active{
      display: block;
    }

  .quote{
    @include span-columns(6);
  }

  .blurb{
    margin: 0 0 0 1em;
  }

  .quote-img{
    @include span-columns(4);
  }
}

.slide-btn{
  @include span-columns(1);
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  transition: all 0.2s linear;
  color: black;
}

.read-more{

}

.article{

}

.view-all{
  @include span-columns(2);
  cursor: pointer;
  border: 1px solid #ccc;
  :hover{
    background-color: #aaa;
  }
}
