.graphic{
  @include outer-container();
}

.slideshow{
  @include row();
  position: relative;
}

.slider{
  // @include clearfix;
  margin-bottom: 10px;
  .slide{
    // @include clearfix;
    @include span-columns(10);
    border: 1px solid #ccc;
    padding: 10px;
    display:none;
    width: 80%;
  }

  .active{
      display: block;
    }

  .quote{
    @include span-columns(6);
  }

  .quote-no-img{

  }

  .blurb{
  }

  .quote-img{
    @include span-columns(6);
    vertical-align: middle;
    img{
      width: 100%;
    }
  }
}

.slide-btn{
  @include span-columns(1);
  cursor: pointer;
  text-align: center;
  // padding: 10px;
  font-size: 30px;
  transition: all 0.2s linear;
  color: black;
}

.next{
  @include omega();
}

.prev{
}

.btn-container{
  // position:absolute;
  top: 50%;
}

.related-story{
  color: $text-gray;
  font-family: $base-sans-serif;
  font-size: .90em;
  font-weight: 400;
  margin: .25em 0 0 0;
  font-variant: small-caps;
}

.story-url{
  font-weight: 800;
  color: $href-teal;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.view-all{
  // @include span-columns(2);
  cursor: pointer;
  border: 1px solid #ccc;
  width: 20%;
  margin: 0px auto;
  text-align: center;
  :hover{
    background-color: #aaa;
  }
}

.hidden{
  display: none;
}
