

.slider{
  // @include row();
  // position: relative;
  // margin: 0px auto;
  // @include outer-container;
  .slide{
    // @include span-columns(10);
    border: 1px solid #ccc;
    padding: 10px;
    display:none;
  }

  .active{
      display: block;
      position: relative;
    }

  .quote{
    // @include span-columns(6);
    width: 50%
  }
  .quote-no-img{
    // @include span-columns(10);
    margin-left: 3em;
  }

  .blurb{
    margin: 0 0 0 1em;
  }

  .quote-img{
    // @include span-columns(6);
  }
}

.slide-btn{
  position: absolute;
  cursor: pointer;
  top: 50%;
  // padding: 10px;
  font-size: 30px;
  transition: all 0.2s linear;
  color: black;
}

.next{
  right: -0px
}
.prev{
  left: -0px
}

.related-story{
  font-variant: small-caps;
}

.story-url{

}

.view-all{
  // @include span-columns(2);
  cursor: pointer;
  border: 1px solid #ccc;
  :hover{
    background-color: #aaa;
  }
}

.hidden{
  display: none;
}
