<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.project_name }} | The Texas Tribune</title>
  <meta name="description" content="{{ META.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div id="graphic" class="graphic">
<div class="counter">
  <p><span class="current">1</span> out of <span class="total">13</span></p>
</div>
  <div class="slideshow">
    <div class="prev slide-btn">
      <div class="btn-container">
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>
    <div class="clearfix">
    <div class="slider">
    {% for quote in QUOTES %}
      {% if quote.imgOK == 'y' %}
        <div class="slide">
          <div class="prose quote">
            <h2 class="quote-text">&#8220;{{ quote.quote }}&#8221;</h2>
            <h4 class="speaker">&#8212; {{ quote.speaker }}</h4>
          </div>
          <div class="blurb-box">
            <div class="blurb">{{ quote.blurb }}</div>
            <div class="quote-img">
              <img src="{{ quote.imgUrl }}">
              <p class="img-credit">{{ quote.credit }}</p>
            </div>
          </div>
        <div class="related-content">
          <p class="related-story source">related story</p>
          <p><a class="story-url" target="_top" href="{{ quote.articleUrl }}">{{ quote.headline }}</a></p>
        </div>
        <div class="share-box">
          <p><span class="fa fa-twitter tweet social"></span> <span class="fa fa-envelope mail social"></span> <span class="fa fa-facebook fbook social"></span> </p>
        </div>
      </div>
      {% else %}
        <div class="slide">
          <div class="quote-no-img prose">
            <div class="prose quote">
              <h2 class="quote-text">&#8220;{{ quote.quote }}&#8221;</h2>
              <h4 class="speaker">&#8212; {{ quote.speaker }}</h4>
            </div>
            <div class="blurb-box">
              <div class="blurb">{{ quote.blurb }}</div>
            </div>
            <div class="related-content">
              <p class="related-story">related story</p>
              <p><a class="story-url" target="_top" href="{{ quote.articleUrl }}">{{ quote.headline }}</a></p>
            </div>
            <div class="share-box">
              <p><span class="fa fa-twitter tweet social"></span> <span class="fa fa-envelope mail social"></span> <span class="fa fa-facebook fbook social"></span> </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  </div>
    <div class="next slide-btn">
      <div class="btn-container">
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </div>

</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

</body>
</html>
